@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.index-home {
    height: 500px;
    align-content: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.banner {
    background-image: url('/static/img/banners.png');
    background-size: cover;
}


.content-home {
    width: 90%;
    justify-content: center;
    height: 70%;
    align-content: center;
    margin: 0 auto;
}

.boton-home {
    gap: 30px;
    margin: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn-home-left {
    background-color: #453c61;
    color: white;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    width: 200px;
    height: 50px;
    align-content: center;
}
    

.btn-home-right {
    background-color: aliceblue;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    width: 200px;
    height: 50px;
    align-content: center;
}


.nav-item {
    margin: 16px;
    font-size: 20px;

}

.nav-item:hover {
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.30);

}

.font-orange {
    font-weight: 800;
    color: orangered;
}

.font-purple {
    font-weight: 900;
    color: #251c4c;

}

.font-purple-h {
    color: #251c4c;
}

.container-header {
    background-color: #f2f1ed;
}


/** FIN DEL HEADER DE HOME **/


/** inicio section **/

.section-top {
    height: 500px;
    background-color: #f2f1ed52;
    /** border: solid 5px red; **/
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container-section {
    /** border: solid 5px rgb(81, 255, 0); **/
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    align-items: center;
    border-radius: 30px 20px 20px 80px;
    gap: 20px;
    background-color: #edeae7;
    background: linear-gradient(to right, #edeae7dc 20%, transparent);
    box-shadow: -10px 8px 10px 0px rgba(0, 0, 0, 0.30);
}

.container-section-left {
    /** border: solid 5px blue; **/
    border-radius: 20px 0px 0px 80px;
    height: 100%;
    width: 50%;
    background-image: url('/static/img/fondo_nutriia.png');
    background-size: cover;
    
}


.container-section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /** border: solid 5px blue; **/
    height: 90%;
    width: 50%;
    text-align: center;
}

.title {
    font-size: clamp(24px, 5vw, 60px); /* mínimo 24px, máximo 60px */   
    color: #251c4c;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

}

.title-two {
    color: #251c4c;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.btn-create {
    background-color: #251c4c;
    color: white;
    margin-top: 20px;
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}


/** seccion del medio **/

.section-medium {
    width: 100%;
    height: 600px;
    border: solid 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.father-medium {
    border-radius: 30px 30px 30px 30px;
    /** border: solid 5px green; **/
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.082);
    box-shadow: -10px 8px 10px 0px rgba(0, 0, 0, 0.30);
    gap: 50px;
}

.medium-left {
    border: solid 3px rgb(236, 17, 17);
    height: 90%;
    width: 40%;
    align-content: center;
}

.medium-left-top {
    border: solid 1px rgb(21, 255, 0);
    height: 70%;
    display: flex;
    flex-direction: column;
}

.icone {
    border: solid 1px green;
    margin: 10px;
}

.medium-left-top p {
    border: solid 1px blue;
    font-size: 20px;
    font-weight: 800;
}

.medium-left-top i {
    border: solid 1px red;
    font-size: 40px;
    margin: 5px;
}

.medium-left-button {
    border: solid 1px rgb(21, 255, 0);
    height: 30%;
    color: #251c4c;
}


.medium-right {
    height: 90%;
    width: 50%;
    
}

.medium-right-img {
    background-image: url('/static/img/dashboard.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}



