<footer class="bg-dark text-light pt-5 pb-3 mt-5">
    <div class="container">
      <div class="row">
  
        <!-- Logo o descripción -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">NutriIA</h5>
          <p>Tu guía inteligente hacia una vida más saludable. Asesoría nutricional personalizada, simple y digital.</p>
        </div>
  
        <!-- Links rápidos -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Inicio</a></li>
            <li><a href="#" class="text-light text-decoration-none">Sobre nosotros</a></li>
            <li><a href="#" class="text-light text-decoration-none">Planes</a></li>
            <li><a href="#" class="text-light text-decoration-none">Contacto</a></li>
          </ul>
        </div>
  
        <!-- Redes sociales -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Síguenos</h5>
          <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
  
      </div>
  
      <hr class="border-light">
  
      <div class="text-center">
        <small>&copy; 2025 NutriIA. Todos los derechos reservados.</small>
      </div>
    </div>
  </footer>
  