{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



<div class="index-home banner">
    <div class="content-home">
        <h6 class="font-orange">TU SALUD, POTENCIADA POR IA</h6>    
        <h1 class="font-purple">Alimenta tu cuerpo.</h1>
        <h1 class="font-purple">Potencia tu mente.</h1>
        <h6 class="font-purple-h">Nutre tu cuerpo, transforma tu vida con IA. Personaliza tu alimentaciòn como nunca antes.</h6>
    </div>
    
    <div class="boton-home">
        <a href="#" class="btn btn-home-left">Explorar como funciona</a>
        <a href="#" class="btn btn-home-right">Prueba gratis</a>
    </div>
</div>


<section class="section-top">

    <div class="container-section">
        <div class="container-section-left">
        </div>

        <div class="container-section-right">
            <p class="title">What is <br> NutriIA?</p>
            <p class="title-two">NutriAI combines the latest in artficila intelligence with tried-and-tru nutrition
                 science to help you ive a healthier, more energized life.</p>
            <button class="btn btn-create">Create Account</button>
        </div>

    </div>
</section>


<section class="section-medium">
    <div class="father-medium">
        <div class="medium-left">
            <p>Como funciona</p>
            <p>1 Toma una foto</p>
            <p>2 La IA analiza</p>
            <p>3 Recibe tu anàlisis</p>

        </div>

        <div class="medium-right">
            <div class="medium-right-img"></div>
        </div>
    </div>
</section>








{% endblock %}
