{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



<div class="index-home banner">
    <div class="content-home">
        <h6 class="font-orange">TU SALUD, POTENCIADA POR IA</h6>    
        <h1 class="font-purple">Alimenta tu cuerpo.</h1>
        <h1 class="font-purple">Potencia tu mente.</h1>
        <h6 class="font-purple-h">Nutre tu cuerpo, transforma tu vida con IA. Personaliza tu alimentaciòn como nunca antes.</h6>
    </div>
    
    <div class="boton-home">
        <a href="#" class="btn btn-home-left">Explorar como funciona</a>
        <a href="#" class="btn btn-home-right">Prueba gratis</a>
    </div>
</div>


<section class="section-top">

    <div class="container-section">
        <div class="container-section-left">
        </div>

        <div class="container-section-right">
            <p>What is NutriIA</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus fugiat aperiam inventore et! Sequi adipisci sit</p>
            <button class="btn btn-primary">Create Account</button>
        </div>

    </div>



</section>









{% endblock %}
